#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}

.topic-score {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 736px){
  .high-score {
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
  .topic-score {
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
}
